/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --boder: #00FF9D;
  --textColor: #fff;
  --black:#000;
  --card:#2A2A2A;

}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  max-width: 1200px;
  margin: auto;
  background-color: #1A1A1A;
  color: white;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 10px;
}

.logo {
 display: flex;
 align-items: center;
 color: var(--boder);
}

.logo img {
 border-radius: 25px;
 border: 5px solid var(--boder);
 margin-right: 20px;
}

.menu a {
  text-decoration: none;
  list-style-type: none;
  color:var(--textColor) ;
  padding-inline: 10px   ;
}

.menu a:hover {
  color: #00FF9D;
  
}
/* Hero section styles */
.hero {
  
  height: 63vh;
  background-color: #000;
  position: relative;
}
.hero ::before{
  background-image: url(./assets/chaicohort.png);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.1;
 height: inherit;
 width: inherit;
}
.hero-content {
  text-align: center;
  padding-top: 5vh;
}

.hero-content h1 {
 color: var(--boder);
 margin-bottom: 10px;
}

.hero-content p {
  /* Add styles for the hero paragraph */
  margin-block: 10px  ;
}

.hero-content img {
  position: relative;
  border-radius: 10px;
  border: 2px solid var(--boder);
  padding: 2px;
}

.enroll-button {
  position: relative;
    top: 34px;
    left: -258px;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--boder);
}

.enroll-button:hover {
  /* Add hover styles for the enroll button */
}

/* Highlights section styles */
.highlights {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 5vh;
  }


.highlight-card {
  background-color: var(--card);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: 150px;
}

.highlight-card h3 {
  color: var(--boder);
}

.highlight-card p {
  font-family: 'Courier New', Courier, monospace;
}
