/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  color: #333;
}
:root{
  --colorText:#8B4513;
  --hoverColor: #000;
  --btn:#c85706;
  --text:#fff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorText);
  font-size: 1.5rem;
  font-weight: 600;
}

.logo img {
  margin-right: 10px;
  border-radius: 30px;
  border: 2px solid var(--colorText);
  padding: 2px;
}

.nav-menu a {
 text-decoration: none;
 list-style-type: none;
 margin-inline: 10px;
 color: var(--colorText);
}

.nav-menu a:hover {
  color: var(--hoverColor);
}

.hero {
 position: relative;
  height: 65vh;
  background-color: black;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::before{
  background-image: url(./assets/chaipatti.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  opacity: 0.3;
  position: absolute;
  inset: 0;
  content: '';

}

.hero-text h1 {
  position: relative;
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero-text p {
 margin-bottom: 15px;
}

.shop-button {
padding: 10px 20px;
background-color: var(--btn);
border: none;
outline: none;
color: var(--text);
border-radius: 15px;
}

.shop-button:hover {
  background-color: aqua;
}

.tea-collection {
text-align: center;
margin-top: 5vh;
}

.tea-collection h2 {
  color: var(--btn);
}

.tea-cards {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 25px ;
  place-items: center;
  }


.tea-card {
 height: 300px;
 width: 250px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
 25px 0px 20px -20px rgba(0,0,0,0.45),
 0px 25px 20px -20px rgba(0,0,0,0.45),
 -25px 0px 20px -20px rgba(0,0,0,0.45);
}

.tea-card h3 {
  /* Define styles for tea card headings here */
}

.tea-card p {
  /* Define styles for tea card paragraph text here */
}
